* {
  margin: 0;
  padding: 0;
  box-shadow: none; 
}

input:focus,
select:focus,
textarea:focus,
button:focus, 
a:focus {
  outline: none !important;
  box-shadow: none !important;
}
body, html {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}
header {
  height: 125vh;
  min-height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
}
.custom-top-bar {
  background-color: transparent !important;
  transition: background-color 0.3s, color 0.3s;
  padding: 10px 0;
}
.custom-top-bar.scrolled {
  background-color: white !important;
  color: black;
}
.custom-top-bar .phone-number i,
.custom-top-bar .social-icons i {
  color: white;
  font-size:30px;
}
.custom-top-bar.scrolled .phone-number span,
.custom-top-bar.scrolled .phone-number i,
.custom-top-bar.scrolled .middle-text span, 
.custom-top-bar.scrolled .social-icons i {
  color: black;
}
.phone-number span, .middle-text span{
  color: white;
}
.custom-top-bar .center-text span {
  font-weight: bold;
}
.navbar {
  background-color: transparent !important;
  transition: background-color 0.3s, color 0.3s;
}
.navbar.scrolled {
  background-color: white !important;
  color: black;
}
.navbar.scrolled .nav-link {
  color: black !important;
  font-weight: 500;
}
.navbar .nav-link {
  color: #ffffff !important;
  margin: 0 10px;
  font-size: 23px;
  font-weight: 500;
}
.navbar .nav-link:hover {
  color: #d3d3d3 !important;
}
.btn-primary {
  background-color: #871F78;
  border: none;
  margin-right: 3%;
}
.btn-primary:hover {
  background-color: #6f1768;
}
.social-icons a {
  margin-right: 20px; 
}
.social-icons a:last-child {
  margin-right: 0; 
}
.key-points, .ranked-box, .title-box {
  position: absolute;
  width: auto;
  color: #ffffff;
}
.key-points {
  top: 50%;
  left: 5%;
  width: 60% !important;
  background-color: rgba(8,13,29,.23);
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  transform: translateY(-50%);
}
.ranked-box {
  top: 70%;
  right: 0.5%;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  transform: translateY(-50%);
}
.ranked-box .star {
  font-size: 2em;
  letter-spacing: 4px;
  color: gold;
  text-align: left;
}
.ranked-box div{
  font-size: 23px;
  font-weight: 500;
}
.title-box {
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.key-points h1 {
  font-size: 2.5rem;
  font-size: 33px;
}
.key-points h5 {
  font-size: 1rem;
  margin-bottom: 10px;
}
.image-and-tiles {
  position: absolute;
  top: 100%;
  width: 95%;
  right: 0.5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translateY(-50%);
  background-color: whitesmoke;
}
.image-and-tiles img {
  width: 15% !important;
  left: 5%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.stats-tile {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 20%;
  margin: 10px;
}
.stats-tile i {
  font-size: 2rem;
  color: #871F78;
}
.stats-tile .stat-count {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10px;
}
.stats-tile .stat-description {
  font-size: 1rem;
  margin-top: 5px;
}

@media (max-width: 992px) {
  .custom-top-bar {
    padding: 5px 0; /* Adjust top bar padding */
  }
  .custom-top-bar .phone-number i,
  .custom-top-bar .social-icons i {
    color: white;
    font-size:30px;
    letter-spacing: 0px;
  }
  .logo{
    width: 50px !important;
  }
  .nav-link{
    font-size: 17px;
    margin-right: 5px;
  }
  .btn-primary {
    margin-right: 10%;
  }
  .social-icons a {
    margin-right: 10px; 
  }
  .social-icons a:last-child {
    margin-right: 0; 
  }
  .key-points {
    top: 45%;
    padding: 10px;
    font-size: 1.2rem; /* Adjust font size */
  }
  .key-points h1 {
    font-size: 1.3rem;
  }
  .key-points h5 {
    font-size: 1rem;
    margin-bottom: 5px !important;
  }
  .image-and-tiles {
    position: absolute;
    top: 84%!important;
    width: 94% !important;
    right: 0.5% !important ;
    left: 5% !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
  }
  .image-and-tiles img {
    width: 14% !important;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .stats-tile {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 20%;
    margin: 10px;
  }
  .stats-tile i {
    font-size: 1,5rem;
    color: #871F78;
  }
  .stats-tile .stat-count {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
  }
  .stats-tile .stat-description {
    font-size: 0.7rem;
    margin-top: 5px;
  }
  .ranked-box {
    top: 62%;
    padding: 5px;
    right: 1%;
  }
  .ranked-box .star {
    font-size: 1.5em;
    letter-spacing: 4px;
    color: gold;
    text-align: left;
  }
  .ranked-box div{
    font-size: 18px;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .custom-top-bar {
    padding: 5px 0; /* Adjust top bar padding */
  }
  .custom-top-bar .phone-number i,
  .custom-top-bar .social-icons i {
    color: white;
    font-size:30px;
    letter-spacing: 5px;
  }
  .logo{
    width: 50px !important;
  }
  .nav-link{
    font-size: 17px !important;
    margin-right: 5px;
  }
  .btn-primary {
    margin-right: 10% !important;
  }
  .key-points {
    top: 45%;
    padding: 10px;
    font-size: 1.2rem; /* Adjust font size */
  }
  .key-points h1 {
    font-size: 1.3rem;
  }
  .key-points h5 {
    font-size: 1rem;
    margin-bottom: 0px;
  }
  .image-and-tiles {
    position: absolute;
    top: 85%!important;
    width: 94% !important;
    right: 0.5% !important ;
    left: 5% !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
  }
  .image-and-tiles img {
    width: 20% !important;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .stats-tile {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 20%;
    margin: 10px;
  }
  .stats-tile i {
    font-size: 1,5rem;
    color: #871F78;
  }
  .stats-tile .stat-count {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
  }
  .stats-tile .stat-description {
    font-size: 0.6rem;
    margin-top: 5px;
  }
  .ranked-box {
    top: 64%;
    padding: 5px;
    font-size: 1rem; /* Adjust font size */
  }
  .ranked-box .star {
    font-size: 1em;
    letter-spacing: 4px;
    color: gold;
    text-align: left;
  }
  .ranked-box div{
    font-size: 15px;
    font-weight: 500;
  }
}

@media (max-width: 576px) {
  header {
    height: 75vh;
    min-height: 200px;
  }
  .navbar{
    margin-top: 0% !important;
  }
  .nav-link{
    font-size: 15px;
    margin-right: 10px;
  }
  .btn-primary {
    margin-right: 5%;
  }
  .logo {
    width: 50px !important;
  }
  .custom-top-bar {
    display: none;
  }
  .key-points {
    top: 70%;
    padding: 5px;
    font-size: 1rem; 
  }
  .key-points h1 {
    font-size: 20px;
  }
  .key-points h5{
    font-size: 10px;
  }
  .key-points a{
    font-size: 12px;
  }
  .ranked-box {
    top: 93%;
  }
  .ranked-box div{
    font-size: 15px;
  }
  .title-box {
    top: 50%;
    font-size: 1rem; 
  }
  .image-and-tiles {
    display: none;
  }
}
.custom-tabs-container {
  margin: 0 5%;
  background-color: #871F78;
  color: white;
  padding: 20px;
}
.nav-tabs {
  border-bottom: none;
  justify-content: space-around;
}
.nav-tabs .nav-item {
  flex: 1;
  text-align: center;
}
.nav-tabs .nav-link {
  color: white;
  background-color: #871F78;
  border: none;
  font-weight: bold;
  padding: 15px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-tabs .nav-link i {
  margin-right: 10px;
  font-size: 2rem; 
}
.nav-tabs .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black !important;

}
.nav-tabs .nav-link.active {
  background-color: rgba(255, 255, 255, 0.8); 
  color: black !important;
}
.tab-content {
  background-color: #d09bc1; 
  color: black;
  margin: 0 5%; 
  padding: 20px;
  margin-top: -1px;
}
.tab-content .tab-pane h3 {
  margin-top: 5%;
  font-size: 24px; 
  font-weight: bold;
}
.tab-content .tab-pane p {
  color: black;
  font-size: 16px;
}
.custom-pet-services-container {
  margin: 0 5%;
}
.custom-pet-services-container img.main-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.custom-pet-services-container p{
  font-size: 1.2rem;
}
.custom-pet-services-container ul {
  list-style: none;
  padding: 0;
  font-size: 1.4rem;
}
.custom-pet-services-container ul li {
  position: relative;
  padding-left: 30px; 
}
.custom-pet-services-container ul li::before {
  content: '\2713'; 
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #871F78;
  color: white;
  font-weight: bold;
  border-radius: 50%;
  padding: 5px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-primary.btn-lg {
  font-size: 1.25rem; 
  padding: 18px 36px;
  border-radius: 10px;
}
.why-choose-section {
  margin: 0 5%;
}
.feature-box {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: #871F78;
  color: white;
}
.feedback-section {
  margin: 0 5%;
  padding: 60px 0;
  background-color: whitesmoke;
  position: relative;
}
.feedback-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.avatar {
  width: 90px;
  height: 80px;
  background-color: #ccc;
  border-radius: 50%;
}
.feedback-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-right: 25px;
}
.feedback-text{
  margin-left: 25px;
  margin-right: 25px;
}
.feedback-user-star-wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.feedback-user {
  font-weight: 500;
  margin-top: 20px;
  font-size: 20px;
  margin-bottom: 0px;
}
.star {
  font-size: 1.8em;
  letter-spacing: 4px;
  color: gold;
  text-align: left;
}
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.carousel-control-prev i,
.carousel-control-next i {
  font-size: 2em;
  color: #000;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 10px;
}
.carousel-control-prev {
  left: 0px;
}
.carousel-control-next {
  right: 0px;
}
.faq-section {
  margin: 0 5%;
}
.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #871F78;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: black;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #871F78;
}
.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #871F78;
  border: 1px solid #871F78;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 10px;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded='true'] {
  color: #871F78;
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}
.footer-section {
  background-color: #871F78;
  color: white;
  padding: 1.5% 5%;
}
.footer .logo {
  width:auto;
  height: auto;
}
.footer-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 15px;
}
.footer-text {
  font-size: 15.5px;
}
.footer-link {
  color: white;
  text-decoration: none;
  font-size: 15.5px;
}
.footer-link:hover {
  color: #ddd;
  text-decoration: underline;
}
.footer-section .fa-phone,
.footer-section .fa-envelope {
  margin-right: 5px;
}
.footer-section .container {
  padding-left: 0;
  padding-right: 0;
}
.footer-section .container > hr {
  border-color: rgba(255, 255, 255, 0.2);
}
.custom-label {
  font-size: 1.25rem; 
  font-weight: 600;
  margin: 1% 0;
}
.custom-input {
  height: calc(2.875rem + 2px); 
  font-size: 1.25rem;
}
.remove-pet-button {
  margin-top: 1rem;
}
.pet-info {
  border: 1px solid silver; 
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}
.privacy_check{
  margin-top: 2%;
}
.privacy_check label{
  font-size: 1.2rem;
}
.privacy_check input{
  margin-top: 0.5%;
}
.request-container{
  margin: 0 5%;
  margin-top: 15%;
}
.custom-container{
  margin: 0 5%;
}
